.flexContainer {
    display: flex;
}


.logo {
    width: 20%;
    margin-left: 2em;
    padding-top: 1%;
    text-align: center;
}

nav {
    padding: 1%;
}

nav li {
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    font-size: 20px;
}

.navigation {
    justify-content: space-between;
    align-items: center;
}


img {
    max-width: 100%;
}


p {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

#heroText {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5vw;
}
.decorativeText {
    color: #6E6CE7;
    font-weight: 900;
    font-size: 3.5vw;
    font-family: Arial, Helvetica, sans-serif;
}

.purple {
    color: #6E6CE7;
    font-weight: 900;
}

p {
    font-family: 'Lato';
    font-size: 16px;
}

.content {
    height: 40%;
    width: 85%;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-bottom: 2px solid black;
    padding-bottom: 4em;
    padding-top: 4em;
    margin: 0 6em;
}

#heroImage {
    width: 100%;
    box-shadow: 25px 20px #6e6ce7;
    height: inherit;
    margin-right: 2em;
    
}

#heroText {
    width: 80%;
}

.footer {
    border-top: 2px solid black;
}
#iconDiv {
    display: flex;
    justify-content: center;
}

.fa-brands {
    margin-left: 1em;
}

.bigIcon {
    font-size: 2em;
}
.footer p {
    text-align: center;
}

h3 {
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}

.item1 {
    grid-area: Wonder;
    background-color: #FEEAFA;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    padding: 1em 2em;
}

.item2 {
    grid-area: Pawmates;
    background-color: #D9F6F1;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    padding: 1em 2em;
}

.item3 {
    grid-area: Nubudget;
    background-color: #F9F8C7;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    padding: 1em 2em;
}

.item4 {
    grid-area: Energy;
    background-color: #DEE2FF;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    padding: 1em 2em;
}

.workGrid {
display: grid;
height: 110%;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr;
grid-template-areas: "Wonder Pawmates" 
"Nubudget Energy";
padding: 2em;
grid-row-gap: 2em;
grid-column-gap: 2em;
margin: 1em;
  
}

.workGrid > div > div {
   width: 70%;
   margin: auto;
}

.caseStudyButton {
    text-align: end; 
}

.caseStudyButton:link {
    color: black !important;
}

.caseStudyButton:visited {
    color: black !important;
}

a {
    text-decoration: none;
}



h2 {
    margin-left: 4em
}

.scalingText {
    font-size: 2vw;
    color: black;
}

.workGridImgSmall {
    width: 45% !important;
    height: auto;
}

.workGridImgDiv {
    justify-content: space-between;

}


@media only screen and (max-width: 600px) {
    .workGrid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "Wonder" 
        "Pawmates" 
        "Nubudget" 
        "Energy";
        }

    .content {
        padding-top: 0em;
        flex-direction: column-reverse;
        width: 60%;
        padding-bottom: 0em;
        }

    #heroImage {
        width: 80%;
        margin-left: 2em;
        box-shadow: 12.5px 10px #6e6ce7;
    }

    #heroText {
        text-align: center;
        margin: 2em auto;
        
    }

    #workTitle {
        text-align: center;
        margin-left: 0%;
    }

    .navigation {
        flex-direction: column;
    }

    .logo {
        margin: 1% auto;
        padding-left: 2em;
        width: 30%;
    }

    nav {
        margin: 1% auto;
        padding: 0;
    }

 .navList {
    padding-left: 0;

 }

 .scalingText {
    font-size: medium;
 }

 .footer p {
    font-size: small;
}

.footer h3 {
    font-size: medium;
}



}

  